<h1>Hello World!</h1>

<%= link_to('Hello page', {
    :controller => 'demo',
    :action => 'hello'
}) %>
<br />
<%= link_to('Hello page 2', '/demo/hello') %>
<br />
<%= link_to("Hello with parameters", {
    :action => 'hello',
    :page => 5,
    :id => 20
})%>
