<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="subjects new">
    <h2>Edit Page</h2>

    <%= form_for(@page) do |f| %>
        <%= render(:partial => 'form', :locals => {:f => f}) %>

        <div class="form-buttons">
            <%= f.submit("Edit Page") %>
        </div>   
    <% end %>
</div>